

/.idea/
/.pytest_cache/
/__pycache__/
/report/
/temp/
/API_/.pytest_cache/
/API_/__pycache__/
/API_/assets/
/API_/testcase/__pycache__/
/wbe/__pycache__/
/wbe/Base/.pytest_cache/
/wbe/Base/__pycache__/
/wbe/PageObject/__pycache__/
/wbe/TestCase/__pycache__/


